@import '_variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/helpers';


@font-face {
  font-family: "Bazar";
  src: local("Bazar"), 
       url("../assets/fonts/Bazar.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Regular"), 
       url("../assets/fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Bold"), 
       url("../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Light"), 
       url("../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: lighter;
}