@import '_color';
@import '_variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/helpers';


@font-face {
  font-family: "Bazar";
  src: local("Bazar"), 
       url("../assets/fonts/Bazar.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Regular"), 
       url("../assets/fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Bold"), 
       url("../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Light"), 
       url("../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "FredokaOne";
  src: local("FredokaOne-Regular"), 
       url("../assets/fonts/FredokaOne-Regular.ttf") format("truetype");
}

main{
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    border: 4px solid $color-elephant;
  }
}

// Topbar

.topbar{
  border-bottom: 4px solid $color-elephant;
  font-family: 'FredokaOne';
  background-color: $color-silver_sand;

  .nav-link{
    color: $color-elephant;
    padding: 1rem !important;

    &:hover {
      background-color: $color-elephant;
      color: white;
    }
  }

  .navbar-toggler{
    box-shadow: none;
    border: none;
  }
}